// Flex usablity

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-row-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@mixin flex-row-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@mixin flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin border-radius {
	border-radius: 0.64rem;
}

@mixin shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

@mixin shadow-2 {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
