// Color Variable
$color-main-background: #0b2434;
$color-game-background: #f5f5f5;
$color-dark-primary: #2b283a;
$color-light-grey: #4a4e74;
$color-white: #ffffff;
$color-green: #59e391;
$color-blue: #5035ff;
